/* Variables */
:root {
     --basic-black: #000000;
     --basic-dark-gray: #283136;
     --basic-gray: #444444;
     --basic-light-gray: #666666;
     --basic-soft-gray: #A7A7A7;
     --basic-silver-gray : #A6A6A6;
     --basic-silver: #B4B9BB;
     --basic-mono-gray: #DFDFDF;
     --basic-abdel-gray: #D5D5D5;
     --basic-alto-gray: #DBDBDB;
     --basic-pale-gray: #ABABAB;
     --basic-extra-gray: #959595;
     --basic-gray-white:#4D4D4D;
     --basic-dark-white: #EEEEEE;
     --basic-light-white: #E1E1E1;
     --basic-extra-white: #E9E9E9;
     --basic-white: #FFFFFF;
     --basic-soft-white: #F1F1F1;
     --basic-light-pink: #FECCCE;
     --basic-white-pink: #FFEEEF;
     --basic-pink: #FB565A;
     --basic-light-red: #E37376;
     --basic-red: #FB565A;
     --basic-soft-red: #E74246;
     --basic-dark-red: #D7373B;
     --basic-light-green: #17B270;
     --basic-soft-green: #00BC6C;
     --basic-green: #00CA74;
     --basic-dark-green: #00AA62;
     --basic-light-yellow: #E7AF36;
     --basic-yellow: #EFC849;
     --basic-soft-yellow: #EAB534;
     --basic-dark-yellow: #E5A722;
     --basic-pule-blue: #D7DCDE;
}
/* Global */
.page-body {
  min-width: 1197px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100% ;
}

/* Main navigation */

.main-header .inner-page {
  margin: 0;
  min-width: 1200px;
  padding-top: 48px;
  background-color: var(--basic-dark-white);
  font-weight: 500;
}

.main-navigation {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  background-color: transparent;
}

.main-header-logo {
  width: 160px;
  height: 66px;
  display: block;
}

.main-header-logo:focus{
  opacity: 0.2;
}

.cart {
  color: var(--basic-black);
  display: block;
  width: 160px;
  text-align: right;
}

.cart-icon {
  margin-right: 21px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  min-height: 31px;
  list-style: none;
}

.nav-item-logo {
  margin-right: 203px;
}

.nav-item {
  margin: 19px 44px 0 0;
}

.main-catalog {
  margin-left: 4px;
}

.nav-item-link, .cart{
  font-size: 16px;
  line-height: 30px;
  color: var( --basic-black);
  font-weight: 500;
  margin-top: 19px;
}

.nav-item-link:hover, .cart:hover,
.nav-item-link:focus, .cart:focus {
  color: var(--basic-red)
}

.nav-item-link:active, .cart:active {
  color: var(--basic-soft-gray);
}

.site-navigation,
.category-list,
.description-list,
.list-of-partners,
.footer-contacts,
.filter-sort,
.categories-list,
.filter-item{
  list-style: none;
}


.menu-current{
  border-bottom: 2px var(--basic-red) solid;
  cursor: context-menu;
  padding-bottom: 18px;
  position: relative;
}

.nav-item a:not([href]):hover,
.nav-item a:not([href]):focus,
.nav-item a:not([href]):active {
  color: var(--basic-black);
}

/* Features */

.slide{
  display: none;
  padding: 70px 0 79px;
  margin-bottom: 8px;
}

.slider {
  position: relative;
  background-color: var(--basic-dark-white);
}

.slides {
  min-height: 100px;
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 5;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label{
  position: relative;
  display: inline-block;
  vertical-align: center;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  width: 18px;
  height: 18px;
  background: var(--basic-white);
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%
}

.slide-one:checked~.slider-controls .slider-controls-slide-1::before,
.slide-two:checked~.slider-controls .slider-controls-slide-2::before,
.slide-three:checked~.slider-controls .slider-controls-slide-3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
}

.slide-one:checked~.slides .slide:nth-child(1),
.slide-two:checked~.slides .slide:nth-child(2),
.slide-three:checked~.slides .slide:nth-child(3) {
  display: block;
}

.slide-two:checked~.slides .slide:nth-child(1) {
  background-image: url(..img/nerds-slide1.png);
  background-repeat: no-repeat;
  background-position: 99% 0;
}

.slide-2:checked~.slides .slide:nth-child(2) {
  background-image: url(../img/nerds-slide2.png);
  background-repeat: no-repeat;
  background-position: 99% 0;
}

.slide-three:checked~.slides .slide:nth-child(3){
  background-image: url(../img/nerds-slide3.png);
  background-repeat: no-repeat;
  background-position: 99% 0;
}

.slogan {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 7px 0px 26px 0px;
  width: 523px;
}

.slogan-description {
  width: 416px;
  margin-bottom: 41px;
}

.slogan-slide {
  margin-bottom: 0;
}

.slogan-description-slide {
  width: 416px;
  margin: 39px 0 29px 0;
}
/* Buttom */

.button {
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500;
  background: var(--basic-red);
  border-radius: 3px;
  padding: 13px 54px;
  display: inline-flex;
  vertical-align: center;
}
/* Ð¡ategories */

.categories-slogan{
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 18px 0 15px 0;
}

.categories-slogan-item {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-gray);
  width: 260px;
}

.categories {
  margin-bottom: 39px;
  border-bottom: 2px solid #EEEEEE;
}

.categories-list {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
/* Description */

.description {
  text-align: center;
  padding: 0;
  padding-bottom: 51px;
  border-bottom: 2px solid #EEEEEE;
}

.description-statistics-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.description-general {
  text-align: initial;
  width: 660px;
}

.description-statistics {
  text-align: center;
  width: 360px;
}

.description-list {
  padding: 0px 0px 0px 38px;
  position: relative;
}

.description-header {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 36px 0px 33px 0px;
}

.description-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 40px;
}

.description-item-list {
  margin: 23px 0;
  position: relative;
}

.description-statistics-img{
  margin-bottom: 33px;
}

.description-list-marker{
  color: var(--basic-red);
  font-size: 25px;
  margin: 0 7px 0 0;
}

.description-item-list-mobile {
  margin-bottom: 2px;
}

.description-item-list::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-pink);
  position: absolute;
  left: -38px;
  top: 12px;
}
.description-statistics {
  margin-top: 26px;
}
.statistics-list {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 26px;
}
.statistics-list-item {
  color: var(--basic-dark-gray);
  line-height: 18px;
  padding: 8px 23px 0px 0px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
}
.percent {
  color: var(--basic-black);
  font-size: 45px;
  font-weight: bold;
  line-height: 64px;
}
/* Partners */

.partners-item {
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 81px;
}

.list-of-partners{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
  min-height: 180px;
  position: relative;
}

.partner-link {
  opacity: .2;
}

.partner-link-academy {
  margin: 19px 27px 0 0;
}

.partner-link-borodinski {
  margin: 9px 10px 0 0;
}

.partner-link-pink {
  margin: 10px 0 0 16px;
}

.partner-link-mishka {
  margin: 12px 0 0 27px;
}

.partner-link:hover, .logo-partners:focus{
  opacity: 1;
}

.logo-partners:active{
  opacity: 0.1;
  outline: none;
}

.partner {
  position: relative;
}

.partner:nth-child(-n+3)::after {
  content: "";
  width: 2px;
  height: 52px;
  top: calc(50% - 24px);
  background-color: var(--basic-dark-white);
  position: absolute;
  left: 242px;
}
/* Footer */

.footer {
  display: grid;
  grid-template-columns: 270px 560px;
  gap: 130px;
  margin: 0;
  padding: 74px 0 49px 0;
}

.footer-contacts {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.footer-header-stock {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0px;
}

.footer-stock {
  line-height: 22px;
  color: var(--basic-gray);
  margin-top: 11px;
}

.footer-contacts-list {
  margin-right: 9px;
  background-color: var(--basic-light-white);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.footer-contacts-list-icon {
  padding: 30px;
}
/* Catalog */

.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-position: 0 0;
  background-repeat: repeat;
}
.catalog-header {
  font-size: 55px;
  line-height: 55px;
}
.filter-sort {
  list-style: none;
}
.filter-sort-item {
  margin-right: 23px;
}
.filter-sort-list{
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}
/*Filter*/
.filter-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-header-features {
  margin-bottom: 16px;
}
.fielsed-grid {
  margin-bottom: 22px;
}
.filter-item-grid label,
.filter-item-features label {
   position: relative;
   cursor: pointer;
   user-select: none;
}
.filter-item {
  padding: 0 0 8px 0;
  margin: 0px;
}
.filter-item-features label {
  padding-left: 36px;
}

.filter-item-grid label {
  padding-left: 36px;
}

.filter-item-grid {
  margin-bottom: 14px;
}
/* Catalog */

.catalog-list {
  list-style: none;
}
.catalog-item {
  width: 220px;
  min-height: 285px;
  min-height: 285px;
  width: 360px;
}
.catalog-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 28px 0 11px 0;
}

.catalog-header:hover, .catalog-header:focus {
  color: var(--basic-red);
}

.catalog-header:active {
  color: var(--basic-black);
}
.card-description-details {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-gray);
  text-align: center;
  width: 255px;
  margin: 10px 0 46px 50px;
}

.card-price {
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500;
  background: var(--basic-red);
  border-radius: 3px;
  padding: 15px 74px;
  font-size: 16px;
  line-height: 18px;
}

.card-price:hover, .card-price:focus {
  background-color: var(--basic-soft-red);
}

.card-price:active {
  background-color: var(--basic-dark-red);
}

fieldset {
  border: 0 none;
}
/*Pagination*/

.pagination {
  display: flex;
  margin-top: 46px;
}
.pg-active, .pagination-item {
  margin-right: 11px;
}

.pagination-item:hover, .next:hover, 
.pagination-item:focus, .next:focus {
  background-color: var(--basic-mono-gray);
}

.pagination-item:active, .next:active{
  background-color: var(--basic-abdel-gray);
  color: -var(--basic-extra-gray);
}