/* Variables */
:root {
     --basic-black: #000000;
     --basic-dark-gray: #283136;
     --basic-gray: #444444;
     --basic-light-gray: #666666;
     --basic-soft-gray: #A7A7A7;
     --basic-silver-gray : #A6A6A6;
     --basic-silver: #B4B9BB;
     --basic-mono-gray: #DFDFDF;
     --basic-abdel-gray: #D5D5D5;
     --basic-alto-gray: #DBDBDB;
     --basic-pale-gray: #ABABAB;
     --basic-extra-gray: #959595;
     --basic-gray-white:#4D4D4D;
     --basic-dark-white: #EEEEEE;
     --basic-light-white: #E1E1E1;
     --basic-extra-white: #E9E9E9;
     --basic-white: #FFFFFF;
     --basic-soft-white: #F1F1F1;
     --basic-light-pink: #FECCCE;
     --basic-white-pink: #FFEEEF;
     --basic-pink: #FB565A;
     --basic-light-red: #E37376;
     --basic-red: #FB565A;
     --basic-soft-red: #E74246;
     --basic-dark-red: #D7373B;
     --basic-light-green: #17B270;
     --basic-soft-green: #00BC6C;
     --basic-green: #00CA74;
     --basic-dark-green: #00AA62;
     --basic-light-yellow: #E7AF36;
     --basic-yellow: #EFC849;
     --basic-soft-yellow: #EAB534;
     --basic-dark-yellow: #E5A722;
     --basic-pule-blue: #D7DCDE;
     --basic-rgba-extra-black-opacity-0-1: rgba(0, 1, 1, 0.1);
     --basic-rgba-extra-black-opacity-0-15: rgba(0, 1, 1, 0.15);
     --basic-rgba-extra-black-opacity-0-25: rgba(0, 1, 1, 0.25);
     --basic-rgba-extra-black-opacity-0-1: rgba(0, 1, 1, 0.1);
}
/* Global */
.page-body {
  min-width: 1197px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr min-content;
  align-content: start;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
/* Main navigation */

.main-header {
  margin: 0;
  min-width: 1200px;
  background-color: var(--basic-dark-white);
  font-weight: 500;
  background-color: #EEEEEE;
}
.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation-wrapper {
  margin: 0 0 0 202px;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  background-color: transparent;
  padding: 20px;
  text-transform: uppercase;
}

.main-header-logo {
  display: flex;
  width: 160px;
  height: 66px;
}
.main-header-logo:hover path, 
.main-header-logo:focus path{
  opacity: 0.7;
}

.main-header-logo:active path{
  opacity: 0.3;
}
.user-navigation {
  display: flex;
  color: var(--basic-black);
  text-align: right;
  margin-left: auto;
}
.cart {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 20px;
}
.cart-svg {
  position: relative;
  margin: 0 24px 0 0;
  padding: 0;
}

.nav-item {
 margin: 0 22px;
}

.active {
  position: relative;
  width: min-content;
  padding: 0;
}

.active::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid var(--basic-light-red);
}

.nav-item a:not([href]):hover, 
.nav-item a:not([href]):focus, 
.nav-item a:not([href]):active {
  color: var(--basic-black);
}

.main-catalog {
  margin-left: 4px;
}

.nav-item-link,
.cart {
  font-size: 16px;
  line-height: 30px;
  color: var( --basic-black);
  font-weight: 500;
}

.nav-item-link:hover, 
.cart:hover,
.nav-item-link:focus, 
.cart:focus {
  color: var(--basic-red)
}

.nav-item-link:active, 
.cart:active {
  color: var(--basic-soft-gray);
  border-bottom: 2px solid var(--basic-light-red);
}

.inner-page .user-navigation {
  margin-left: auto;
}


.site-navigation,
.category-list,
.description-list,
.list-of-partners,
.footer-contacts,
.filter-sort,
.categories-list,
.filter-item,
.statistics-list {
  list-style: none;
}


.menu-current{
  border-bottom: 2px var(--basic-red) solid;
  cursor: context-menu;
  padding-bottom: 18px;
  position: relative;
}

.nav-item a:not([href]):hover,
.nav-item a:not([href]):focus,
.nav-item a:not([href]):active {
  color: var(--basic-black);
}

/* Features */

.slide{
  display: none;
  position: relative;
  min-height: 431px;
}
.slide-img {
  width: 760px;
  height: 431px;
  position: absolute;
  right: 0;
  top: 0;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider {
  position: relative;
  background-color: var(--basic-dark-white);
}

.slides {
  min-height: 100px;
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 5;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label{
  position: relative;
  display: inline-block;
  vertical-align: center;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  width: 18px;
  height: 18px;
  background: var(--basic-white);
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%
}

.slide-one:checked~.slider-controls .slider-controls-slide-one::before,
.slide-two:checked~.slider-controls .slider-controls-slide-two::before,
.slide-three:checked~.slider-controls .slider-controls-slide-three::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
}

.slide-one:checked~.slides .slide:nth-child(1),
.slide-two:checked~.slides .slide:nth-child(2),
.slide-three:checked~.slides .slide:nth-child(3) {
  display: flex;
}

.slide-one:checked~.slides .slide:nth-child(1) {
  background-repeat: no-repeat;
  background-position: 99% 0;
}

.slide-two:checked~.slides .slide:nth-child(2) {
  background-repeat: no-repeat;
  background-position: 99% 0;
}

.slide-three:checked~.slides .slide:nth-child(3){
  background-repeat: no-repeat;
  background-position: 99% 0;
}

.slogan {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 92px 0px 26px 0px;
  width: 523px;
}

.slogan-slide {
  margin-bottom: 0;
}
.slogan-description {
  width: 416px;
  margin-bottom: 41px;
}

.slogan-description-slide {
  width: 416px;
  margin: 39px 0 29px 0;
}
/* Buttom */

.button {
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500;
  background: var(--basic-red);
  border-radius: 3px;
  padding: 13px 54px;
  display: inline-flex;
  vertical-align: center;
}
.button:hover,
.button-slider-red:hover,
.feedback-button:hover, 
.button-feedback:hover,
.button:focus,
.button-slider-red:focus,
.feedback-button:focus, 
.button-feedback:focus{
  background-color: var(--basic-soft-red);
}

.button:active,
.button-slider-red:active,
.feedback-button:active, 
.button-feedback:active {
  background-color: var(--basic-dark-red);
  color: var(--basic-light-red);
 outline: none;
}

.button-slider-red{
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight:500;
  background: var(--basic-red);
  border-radius: 3px;
  padding: 13px 40px;
  margin-top: 15px;
  display: inline-flex;
 vertical-align: center;
}

.button-slider-green{
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500;
  background: var(--basic-green);
  border-radius: 3px;
  padding: 13px 40px;
  margin-top: 15px;
  display: inline-flex;
  vertical-align: center;
}

.button-slider-green:hover,
.button-slider-green:focus {
  background-color: var(--basic-soft-green);
}

.button-slider-green:active {
  background-color: var(--basic-dark-green);
  color: var(--basic-light-green);
}

.button-slider-yellow{
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500;
  background: var(--basic-yellow);
  border-radius: 3px;
  padding: 13px 40px;
  margin-top: 15px;
  display: inline-flex;
  vertical-align: center;
}

.button-slider-yellow:hover, .button-slider-yellow:focus {
  background-color: var(--basic-soft-yellow);
}

.button-slider-yellow:active {
  background-color: var(--basic-dark-yellow);
  color: var(--basic-light-yellow);
}

/* Сategories */

.categories-slogan{
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
}

.categories-slogan-item {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-gray);
  width: 260px;
}

.categories {
  margin-bottom: 39px;
}

.categories-list {
  display: flex;
  align-items: left;
  text-align: left;
  justify-content: space-between;
  padding: 80px 0;
  border-bottom: 2px solid #EEEEEE;

}
.feature-item {
  width: 300px;
  text-align: center;
}
/* Description */

.description {
  text-align: center;
  padding: 0;
  padding-bottom: 51px;
  
}
.description-columns {
  display: flex;
  align-items: center;
}

.description-general {
  display: block;
  text-align: left;
  width: 660px;
  flex-shrink: 0;
}
.description-statistics-item{
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
}
.description-statistics {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
}
.description-statistics-slogan {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  order: 1;
}
.description-list {
  padding: 0px 0px 0px 38px;
  display:block;
}

.description-header {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 36px 0px 33px 0px;
}

.description-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.description-item-list {
  margin: 23px 0;
  position: relative;
}

.description-item-list::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-pink);
  position: absolute;
  left: -38px;
  top: 12px;
}
.description-image {
  display: block;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 208px;
  order: -1;
}
.statistics-list {
  display: flex;
  margin-left:auto;
  order: 2;
}
.statistics-list-item {
  color: var(--basic-dark-gray);
  line-height: 18px;
  padding: 8px 23px 0px 0px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  flex-basis: 120px;
  margin: 0 4px;
}
.percent {
  color: var(--basic-black);
  font-size: 45px;
  font-weight: bold;
  line-height: 64px;
}
/* Partners */

.partners-item {
  margin-bottom: 81px;
}

.partner {
  display: flex;
}

.list-of-partners{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  padding: 0;
  margin: 0 auto;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
}
.partner-link-academy{
  margin: 0 30px 0 30px;
}
.partner-link-borodinski {
  margin: 0 50px 0 50px;
}
.partner-link-pink {
  margin: 0 50px 0 50px;
}
.partner-link-mishka {
  margin: 0 30px 0 30px;
}
.partner-img {
  display: block;
  opacity: 0.2;
}
.partner-img:hover, .partner-img:focus{
  opacity: 1;
}

.partner-img:active{
  opacity: 0.1;
  outline: none;
}

.partner:not(:first-child){
  border-left-color: #EEEEEE;
  border-left-style: solid; 
  border-left-width: 2px; 
}

/* Map */

.map {
  position: relative;
  width: 100%;
  height: 416px;
}

.map-img {
  width: 100%;
  height: 416px;
  background-color: var(--basic-black);
  object-fit: cover;
}
.map-contacts {
  padding: 32px 10px 46px;
  position: absolute;
  top: 13%;
  left: 19.5%;
  z-index: 2;
  width: 319px;
  min-height: 308px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--basic-white);
  box-sizing: border-box; 
}
.company {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 22.71px;
  margin-left: 50px;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 700;
}
.address {
  width: 230px;
  margin-bottom: 16px;
  margin-left: 50px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
  color: var(--basic-dark);
}

.telephone {
  margin: 0;
  margin-bottom: 34px;
  margin-left: 50px;
  color: var(--basic-dark);
}
.interactive-map {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 416px;
  overflow: hidden;
}
.interactive-map-link-first,
.interactive-map-link-second {
  position: absolute;
  top: 0px;
  font-size: 12px;
  color: var(--basic-extra-light-gray);
}

.interactive-map-link-second {
  top: 14px;
}

.map-iframe {
  background-image: url(../img/map.png);
  width: 100%;
  height: 416px;
  border: 0px;
}
.button-open-form {
  margin: 0;
  margin-left: 40px;
}

/* Footer */
.main-footer {
  display: grid;
  gap: 130px;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 68px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 400;
  color: var(--basic-gray);
  background-color: var(--basic-white);
}

.footer {
  display: grid;
  grid-template-columns: 270px 560px;
  gap: 130px;
  margin: 0;
  padding: 74px 0 49px 0;
}

.footer-contacts {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.footer-header-stock {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0px;
}

.footer-stock {
  line-height: 22px;
  color: var(--basic-gray);
  margin-top: 11px;
}

.footer-contacts-list {
  display: flex;
  justify-content: center;
  margin-right: 9px;
  background-color: var(--basic-light-white);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  
}

.footer-contacts-list-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  margin-bottom: 5px;
  text-decoration: none;
  background: var(--basic-extra-light-2-gray);
  border-radius: 50%;
  outline: 0;
  transition: var(--default-transition);
  cursor: pointer;
}

.footer-contacts-list:hover, 
.footer-contacts-list:focus{
  background-color: var(--basic-red);
}

.footer-contacts-list:active{
  background-color: var(--basic-dark-red);
}

.footer-contacts-list-icon:active svg {
  opacity: 0.3;
}

/* Catalog */

.catalog-filter {
  width: 260px;
}

.page-catalog{
  display: grid;
  grid-template-columns: 260px 759px;
  gap: 140px;
  align-content: start;
  margin-top: 58px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 23px 41px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 48px;
}

.catalog-item {
  width: 220px;
  min-height: 285px;
  min-height: 285px;
  position: relative;
  width: 360px;
}
.catalog-item:hover,
.catalog-item:focus {
  border-radius: 5px;
  box-shadow: 0px 6px 15px var(--basic-rgba-extra-black-opacity-0-25);
}
.catalog-item:hover .grid-description,
.catalog-item:focus-within .grid-description {
  animation-name: good-appearance;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.catalog-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--basic-dark-white);
  padding: 75px 16px 108px 0px;
  text-align: center;
  margin: 0;
}

/* Sort */

.sort {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}
.filter-sort {
  display: flex;
  padding: 0;
  margin: 0 0 0 236px;
}
.filter-sort-list{
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;
}

.filter-sort-active {
  opacity: 1;
}

.filter-sort-item {
  margin-right: 23px;
}

.filter-sort-list:hover, .filter-sort-list:focus  {
  color: var(--basic-black);
  opacity: 0.6;
}

.filter-sort-list:active {
  opacity: 1;
}

.filter-sort-order {
  display: flex;
  align-items: center;
}

.filter-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--basic-black);
  margin: 0 20px 4px 0;
}

.filter-down:hover, .filter-down:focus {
  opacity: 0.6;
}

.filter-down:active {
  opacity: 1;
}

.filter-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--basic-black);
  opacity: 0.2;
}

.filter-up:hover, .filter-up:focus {
  opacity: 0.6;
}

.filter-up:active {
  opacity: 1;
}

/*Filter*/

.fieldset {
  padding: 0;
  margin: 0;
  border: 0 none;
}

.grid {
  margin-bottom: 22px;
}
.features-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-grid {
  margin-bottom: 14px;
}

.header-features {
  margin-bottom: 16px;
}

.filter-item-grid label,
.filter-item-features label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-item {
  padding: 0 0 8px 0;
  margin: 0px;

}
.filter-item-features label {
  padding-left: 36px;
}

.filter-item-grid label {
  padding-left: 36px;
}

.filter-item-grid {
  margin-bottom: 14px;
}

.filter-label {
  height: 25px;
  display: flex;
  align-items: center; 
}

.filter-item-features {
  margin-bottom: 14px;
}

.filter-input-checkbox + label::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #A6A6A6;
  border-radius: 3px;
}

.filter-input-checkbox + label:hover::before {
  border: 2px solid #4D4D4D;
}

.filter-input-checkbox:checked + label::before {
  background-image: url(../img/checkbox_on.svg);
  opacity: 0.4;
  background-repeat: no-repeat;
  width: 26px;
  height: 24px;
  border: none;
}

.filter-input-checkbox:checked + label:hover::before{
  background-image: url(../img/checkbox_on.svg);
  opacity: 1;
  background-repeat: no-repeat;
  border: none;
}

.filter-input-checkbox:focus+label::before{
  outline: 2px solid #4D4D4D;
}

.filter-input-radio + label::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  left: 1px;
  top: 0;
  border: 4px solid #A6A6A6;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  left: 8px;
  top: 7px;
  background-color: var(--basic-silver-gray);
  border: 1px solid #A6A6A6;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before, 
.filter-input-radio + label:focus::before {
  border: 4px solid #4D4D4D;
}

.filter-input-radio + label:hover::after,
.filter-input-radio + label:focus::after {
  border: 1px solid #4D4D4D;
  background-color: var(--basic-gray-white);
}

.filter-input-radio:focus + label::before {
  outline: 2px solid #444444;
  border: 4px solid #4D4D4D;
}

.filter-input-radio:focus + label::after {
  border: 1px solid #4D4D4D;
  background-color: var(--basic-gray-white);
}

.filter-button{
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  background: var(--basic-dark-white);
  border-radius: 3px;
  padding: 16px 88px;
  border-width: 0px;
  margin-top: 30px;
}

.filter-button:hover, .filter-button:focus {
  background-color: var(--basic-mono-gray);
}

.filter-button:active{
  background-color: var(--basic-abdel-gray);
  opacity: 0.3;
  outline: none;
  border: 0;
}

.range-filter {
  margin: 47px 0px 55px 0px;
}

.filter-item-grid,
.filter-item-features {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark-gray);
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-soft-white);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-pule-blue);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #FFFFFF;
  background-color: var(--basic-pale-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}


.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-dark-gray);
  border: none;
  border-radius: 5px;
  background: var(--basic-soft-white);
  font-family: inherit;
  font-size: inherit;
}

.grid-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 28px 0 11px 0;
}

.grid-header:hover, .grid-header:focus {
  color: var(--basic-red);
}

.grid-header:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.grid-description {
  position: absolute;
  width: 360px;
  height: 231px;
  color: var(--basic-light-gray);
  background-color: var(--basic-dark-white);
  text-align: center;
  bottom: 0px;
  display: none;
}

.catalog-item:hover path{
  fill: var(--basic-extra-white)
}

.catalog-item:hover .grid-description,
.catalog-item:focus-within .grid-description {
  display: block;
}

.catalog-item-img {
  margin-top: -7px;
}

.grid-description-details {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-gray);
  text-align: center;
  width: 255px;
  margin: 10px 0 46px 50px;
}

.grid-price {
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 500;
  background: var(--basic-red);
  border-radius: 3px;
  padding: 15px 74px;
  font-size: 16px;
  line-height: 18px;
}

.grid-price:hover, .grid-price:focus {
  background-color: var(--basic-soft-red);
}

.grid-price:active {
  background-color: var(--basic-dark-red);
}

/*Pagination*/

.pagination {
  display: inline-flex;
  justify-content: start;
  align-content: start;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}
.btn-pagination {
  min-width: 0;
  min-height: 0;
  margin: 0;
  margin-top: 5px;
  margin-right: 11.5px;
  padding: 17px 20px 15px 20px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-black);
  background-color: #EEEEEE;
}

.btn-pagination:hover,
.btn-pagination:focus {
  background-color:  #EEEEEE;
}

.btn-pagination:active {
  color: var(--basic-rgba-black-opacity-0-3);
  background-color:  #EEEEEE;
  box-shadow: inset 0px 3px 0px var(--basic-rgba-extra-black-opacity-0-1);
}

.active-pagination,
.active-pagination:hover,
.active-pagination:focus,
.active-pagination:active {
  padding: 14px 17px 12px 17px;
  background-color: transparent;
  border:3px solid var(--basic-active-pagination);
  border-radius: 3px;
  cursor: default;
}

.btn-pagination-big {
  padding: 17px 77px 15px 78px;
}

/* Modal */

.container-form {
  width: 761px;
  height: 353px;
  margin-left: 98px;
}

.form-item{
  display: flex;
  justify-content: space-between;
}

.feedback-header {
  font-size: 46px;
  line-height: 53px;
  font-weight: bold;
  margin: 64px 0 19px 98px;
}

.feedback-ladel {
  font-weight: bold;
}

.feedback-input-name {
  width: 360px;
  height: 50px;
  border: 2px solid var(--basic-pule-blue);
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px;
}

.feedback-input-email {
  width: 360px;
  height: 50px;
  border: 2px solid var(--basic-pule-blue);
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px;
}

.feedback-input-name, .feedback-input-email {
  margin-top: 7px;
}


.feedback-input-text {
  border: 2px solid var(--basic-pule-blue);
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 16px;
  height: 118px;
  width: 760px;
  resize: none;
  padding: 15px;
}

.feedback-input-name:hover, 
.feedback-input-name:focus,
.feedback-input-email:hover,
.feedback-input-email:focus,
.feedback-input-text:hover,
.feedback-input-text:focus {
  border: 2px solid var(--basic-silver);
}

.feedback-input-name:active,
.feedback-input-text:active,
.feedback-input-email:active {
  border: 2px solid var(--basic-black);
}

.feedback-input-name::placeholder, 
.feedback-input-email::placeholder,
.feedback-input-text::placeholder{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
  opacity: 0.5;
}

.feedback-input-name:invalid,
.feedback-input-email:invalid{
  border:2px solid var(--basic-soft-red);
  color: var(--basic-soft-red);
}
.feedback-input-name:invalid::placeholder,
.feedback-input-email:invalid::placeholder {
  color: var(--basic-soft-red);
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  background-color: var(--basic-white);
}

.modal-feedback {
  display: none;
  width: 960px;
  height: 590px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 24px;
  font-size: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: var(--basic-white);
  border: 1px solid #FFFFFF;
}

.modal-close:hover::before, 
.modal-close:hover::after,
.modal-close:focus::before, 
.modal-close:focus::after{
  background-color: var(--basic-red);
}

.modal-close:active::before, 
.modal-close:active:after {
  background-color: var(--basic-white-pink);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg)
}

.modal-close::after, 
.modal-close::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  top: 8px;
  right: -2px;
  background-color: var(--basic-light-pink)
}
